* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
        180deg,
        #259FB8 0%,
        #F8FBEF 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.form {
    width: 45%;
    margin-top: 200px;
}   

.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.table-container {
    margin-top: 30px;
    overflow-y: scroll;
    max-height: 400px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f5f5f5;
    font-weight: bold;
}

tbody tr:hover {
    background-color: #f9f9f9;
}

.form-container h2 {
    font-size: 40px;
    color: #f5fcff;
    margin-bottom: 10px;
}

.form-container p {
    font-size: 18px;
    color: #949fbd;
    margin-bottom: 50px;
}

form {
    padding: 50px;
    background: linear-gradient(
        50deg,
        rgba(43, 73, 125, 1) 0%,
        rgba(37, 159, 184, 1) 50%,
        rgba(40, 90, 140, 1) 100%
    );
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-bottom: 40px;
}

.form-content {
    display: flex;
    flex-direction: column;
}

label {
    color: #f5fcff;
    font-size: 15px;
    margin-bottom: 15px;
}

input,
textarea,
select {
    padding: 20px 15px;
    background-color: #f5fcff;
    border: 0;
    outline: none;
    border-radius: 25px;
    color: #190707;
    font-size: 16px;
}

.button-container {
    padding: 20px 15px;
}

select {
    border: 1px solid #283b64;
}

::placeholder {
    color: #949fbd;
    font-size: 16px;
}

textarea {
    margin-bottom: 10px;
}

.btn {
    padding: 17px 15px;
    width: 180px;
    align-self: center;
    text-transform: capitalize;
    color: #f5fcff;
    font-size: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background: linear-gradient(
        90deg,
        rgba(67, 151, 239, 1) 0%,
        rgba(2, 227, 211, 1) 100%
    );
}

.success {
    position: absolute;
    top: 50px;
    color: rgba(2, 227, 211);
    font-size: 18px;
}

.error {
    position: absolute;
    top: 50px;
    color: #e02d00;
    font-size: 18px;
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
        padding: 0 30px;
    }
}

@media (max-width: 991px) {
    body {
        padding: 30px;
    }
    form {
        width: 100%;
    }
    .form-group {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        margin-bottom: 20px;
    }
    textarea {
        margin-bottom: 30px;
    }
}
/* RESPONSIVE CUANDO SE USA EN MOVILES O EN DISPOSITIVOS CON MENOS RESOLUCION*/
@media (max-width: 767px) {
    .form-container {
        flex-direction: column; /* Cambia la dirección de los elementos a una columna */
    }

    .form {
        width: 100%; /* Ocupa todo el ancho disponible */
        margin-bottom: 20px; /* Espacio entre los formularios */
    }

    .form-group {
        grid-template-columns: repeat(1, 1fr); /* Cambia a una sola columna */
        grid-gap: 20px;
        margin-bottom: 20px;
    }

    .button-container {
        padding: 20px 15px;
        text-align: center; /* Centra el botón */
    }

    .table-container {
        max-height: none; /* Remueve la altura máxima para mostrar la tabla completa */
    }
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
}

/*header superior*/

.header__superior {
    
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    background: #fff;
}
.tituloDas{
    align-items: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.logo img {
    width: 250px;
}

.search input {
    width: 300px;
    padding: 10px;
}

/*Barra Menu*/

.container__menu {
    width: 100%;
    height: 70px;
    background: #259FB8;
    padding: 0px 20px;
}

.menu {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav {
    height: 100%;
}

nav > ul {
    height: 100%;
    display: flex;
}

nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}

nav > ul > li > a:hover {
    transform: scale(1.1);
    background: #84CCDB;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected {
    transform: scale(1.1);
    background-color: #84CCDB;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*SUBMENU*/

nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a {
    display: block;
    color: #84CCDB;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav ul li ul li a:hover {
    background: #259FB8;
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*ELEMENTOS RESPONSIVE*/
.icon__menu {
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}

#label__check {
    width: 26px;
    height: 100%;
    display: none;
}

#check__menu {
    display: none;
}

@media screen and (max-width: 720px) {
    .search input {
        display: none;
    }

    .header__superior {
        padding: 10px;
    }
    .logo img {
        width: 200px;
    }

    nav > ul {
        flex-direction: column;
        background-color: #259FB8;
        position: fixed;
        left: 0;
        top: 158px;
        width: 100px;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }
    nav > ul > li > align:hover {
        transform: scale(1);
    }

    nav ul li ul {
        left: 90px;
    }

    nav > ul > li:hover ul {
        top: 50px;
    }

    nav > ul > li:first-child a {
        background-position: 20px;
    }

    #selected {
        transform: scale(1);
    }

    #label__check {
        display: block;
    }

    .icon__menu {
        display: flex;
    }

    #check__menu:checked ~ nav > ul {
        height: 300px;
        visibility: visible;
        opacity: 1;
    }
}
