{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h4 class="text-center">{{message}}</h4>
    <div class="container-item row ">
            {% for core in products %}
        <div class="col-3 mt-5">

            <!--Producto-->
            <div class="card h-100">
                {% if core.image%}
                <img src="{{core.image.url}}" alt="Imagen del Producto" height="300" width="300" >
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{core.nombre_producto}}</h5>
                    <a href="{%url 'product' core.slug%}" class="btn btn-primary"> See more </a>
                </div>
            </div>
        </div>
            {% endfor %}
    </div>
</div>


{% endblock %}


