{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylePQRSE.css' %}">
    <title>Responder PQRS</title>
</head>
<body>
    <header>
        <div class="header__superior">
            
            <div class="logo">
                <img src="../../../static/img/logo2.png" alt="">
            </div>
            <div class="tituloDas">
                <h1>Dashboard Galactic Gamer</h1>
            </div>
        </div>
        <div class="container__menu">
           
            <div class="menu">
                <input type="checkbox" id="check__menu">
                <label id="label__check" for="check__menu"> 
                    <i class="fa-solid fa-bars icon__menu"></i>
                </label>
                <nav>
                    <ul>
                        <li><a href="{% url 'DashEmpleado' %}">Inicio</a></li>
                        <li><a href="">Clientes</a></li>
                        <li><a href="">Proveedores</a></li>
                        <li><a href="">Inventario</a></li>
                        <li><a href="">Ventas</a></li>
                        <li><a href="{% url 'PQRSempleado' %}">PQRS</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <br>
    <br>
    <br>
    <div class="form-container">
        <div class="form">
    <form method="post">
        <h2>Consulta de PQRS</h2>
        <P>
            Aquí puedes consultar los PQRS registrados por los usuarios
        </P>
        <div class="form-group">
            <div class="form-content">
                <label for="tipo">Tipo de PQRS:</label>
                <select id="tipo" name="tipo">
                    <option value="">Todos</option>
                    <option value="Pregunta">Pregunta</option>
                    <option value="Queja">Queja</option>
                    <option value="Reclamo">Reclamo</option>
                    <option value="Sugerencia">Sugerencia</option>
                </select>
            </div>   

            <div class="form-content">
                <label for="estado">Estado de PQRS:</label>
                <select id="estado" name="estado">
                    <option value="">Todos</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="En Proceso">En Proceso</option>
                    <option value="Resuelta">Resuelta</option>
                </select>
            </div> 
        </div>
        <div class="form-group">
            <div class="form-content">
                <label for="fecha_inicio">Fecha inicio:</label>
                <input type="date" id="fecha_inicio" name="fecha_inicio">
            </div> 

            <div class="form-content">
                <label for="fecha_fin">Fecha fin:</label>
                <input type="date" id="fecha_fin" name="fecha_fin">
            </div> 
        </div>
    
        <div class="button-container">
            <input class="btn" type="submit" name="submit" value="Consultar">
        </div>
        <div class="table-container">
          <!-- Aqui debe ir una funcio para mostrar una tabla con los registro de la base de datos-->
         </div>
    </form>
        </div>
        <div class="form">
            <form action="registrar_respuesta.php" method="POST" autocomplete="off">
                <h2>Respuesta PQRS</h2>
                <P>
                    Regístra aquí una respuesta al cliente
                </P>
                    <div class="form-group">
                        <div class="form-content">
                            <label for="nombre_empleado">Usuario del Empleado:</label>
                            <input type="text" id="nombre_empleado" name="nombre_empleado" placeholder="Digite su usuario" required>
                        </div>
             

                    </div>
                    <div class="form-group">
                            <div class="form-content">
                                <label for="nombre_cliente">ID del PQRS:</label>
                                <input type="text" id="id_PQRS" name="id_PQRS" placeholder="Digite el 'id' de la pqrs" required>
                                
                            </div>
                    </div>
            
                    <div class="form-group">

                        <div class="form-content">
                                <label for="fecha_respuesta">Fecha de Respuesta:</label>
                                <input type="date" id="fecha_respuesta" name="fecha_respuesta" required>
                                
                        </div>

                        <div class="form-content">
                            <label for="estado">Estado:</label>
                                <select id="estado" name="estado" required>
                                    <option value="En proceso">En proceso</option>
                                    <option value="Resuelta">Resuelta</option>
                                </select>
                            </select>
                        </div>
                    </div>

                    <label for="respuesta">Respuesta:</label>
                    <textarea id="respuesta" name="respuesta" rows="4" cols="50" required></textarea>
                    <input class="btn" type="submit" name="Responder" value="Enviar">
            </form>
        </div>
    </div>
</body>
</html>