{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylePQRSC.css' %}">
    <title>PQRS</title>
</head>
<body>
     <div class="form-container">
        <h2>Coméntanos</h2>
        <P>
            ¡¡Regístra aquí tu PQRS (Pregunta, queja, reclamo o sugerencia)!!
        </P>
        <form action="PQRSregis.php" method="POST" autocomplete="off">
            <div class="form-group">
                <div class="form-content">
                    <label for="fecha">Fecha de PQRS:</label>
                    <input type="date" id="fecha" name="fecha" required>
                </div>
                <div class="form-content">
                    <label for="tipo">Tipo de PQRS:</label>
                    <select id="tipo" name="tipo" required>
                        <option value="Pregunta">Pregunta</option>
                        <option value="Queja">Queja</option>
                        <option value="Reclamo">Reclamo</option>
                        <option value="Sugerencia">Sugerencia</option>
                    </select>
                </div>
         
            
            </div>
            <label for="message">Descripción</label>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Descipcion de la pregunta, queja, reclamo o sugerencia" required></textarea>
            <input class="btn" type="submit" name="EnviarPQRS" value="Enviar">

        </form>

     </div>
     
</body>
</html>