{% extends 'base.html' %}
{% load product_extras %}

{% block content %}
<div class="col-3">
    {% if producto.image %}
    <img src="{{ producto.image.url }}" alt="Imagen Del Producto" width="200" height"200">
    {% endif %}
</div>

<div class="col">
    <div class="h3 font-weight-bold text-success">
        Producto agregado al carrito de Compras
    </div>
    <div class="">
        <a>
            {{producto.nombre_producto}}
        </a>
    </div>
    <div class="font-weight-bold text-danger">
        {{producto.PrecioProducto | price_format }}
    </div>
    <div class="mt-2">
        <a href="{% url 'carts:cart' %}" class="btn btn-info">Ver carrito</a>
    </div>
    <div class="mt-2">
        <a href="{% url 'index' %}">Seguir comprando</a>
    </div>

</div>

{% endblock %}